.gradientText {
  @apply text-3xl px-2 py-2 rounded-md font-semibold;
  background-image: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
  background-image: conic-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
}

.blurB {
  @apply shadow-lg;
  -webkit-backdrop-filter: blur(50px);
  filter: blur(50px);
}

/* Blue gradient */
/* background-image: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  background-image: conic-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat; */
