.gradientText {
  @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl font-semibold tracking-wide text-white mt-6;
  background-image: linear-gradient(90deg, #edc7fb 0%, #645bff 100%);
  background-image: conic-gradient(90deg, #edc7fb 0%, #645bff 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
  animation: fadeDown 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.callToAction {
  @apply mt-12 text-white font-semibold bg-primaryDark px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-300 hover:text-white hover:bg-opacity-50 transition duration-200 ease-in-out;
  animation: fadeUp 2s ease;
}

.arrowDown {
  @apply h-10 w-10 fill-current text-gray-50 cursor-pointer;
  animation: fadeIn 3.5s ease;
}

.container {
  height: 806px;
}

.subheading {
  @apply block lg:ml-3 text-sm md:text-base lg:text-lg lg:text-gray-400;
  animation: fadeDown 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.subheadingImg {
  @apply h-12 w-12 rounded-full object-cover object-center shadow-md;
  animation: fadeInFromLeft 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.smScreenProfileImg {
  @apply h-24 w-24 rounded-full object-cover object-center mx-auto shadow-md lg:hidden;
  animation: fadeDown 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.headline {
  @apply sm:text-lg md:text-xl lg:text-2xl px-1 text-gray-300 tracking-wide mt-10 max-w-2xl;
  animation: fadeUp 2s ease;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Push */
/* @-webkit-keyframes hvrPush {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvrPush {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */
