.gradientText {
  @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl font-semibold tracking-wide text-white mt-6;
  background-image: linear-gradient(90deg, #fbc7d4 0%, #9796f0 100%);
  background-image: conic-gradient(90deg, #fbc7d4 0%, #9796f0 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
}

.container {
  height: 806px;
}

.purpleGradientBlur {
  @apply h-32 absolute bottom-0 right-0 left-0 lg:m-0  z-0;
  background: linear-gradient(180deg, #9d9aee 0%, #e8c7db 100%);
  background: conic-gradient(180deg, #9d9aee 0%, #e8c7db 100%);
  filter: blur(50px);
}

/* Push */
@-webkit-keyframes hvrPush {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvrPush {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvrPush {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvrPush:hover,
.hvrPush:focus,
.hvrPush:active {
  -webkit-animation-name: hvrPush;
  animation-name: hvrPush;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
