/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Blue gradient */
.gradientText {
  @apply px-4 tracking-wide text-blue-500 text-center text-3xl lg:text-5xl font-bold uppercase;
  background-image: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  background-image: conic-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
}
