/* Purple gradient */
.gradientText {
  @apply px-4 tracking-wide text-center text-3xl lg:text-4xl font-bold uppercase;
  background-image: linear-gradient(90deg, #fbc7d4 0%, #9796f0 100%);
  background-image: conic-gradient(90deg, #fbc7d4 0%, #9796f0 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
}

.purpleGradientBlur {
  @apply h-48 lg:h-64 z-0;
  background: linear-gradient(180deg, #9d9aee 0%, #e8c7db 100%);
  filter: blur(120px);
}
