/* Purple gradient */
.gradientText {
  @apply px-4 tracking-wide text-purple-400 text-center text-3xl lg:text-4xl font-semibold uppercase;
  background-image: linear-gradient(90deg, #fbc7d4 0%, #9796f0 100%);
  background-image: conic-gradient(90deg, #fbc7d4 0%, #9796f0 100%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
}
